
nav {
    display: flex;
    flex-grow: 2; 
    justify-content: flex-end;
}
nav a {
    width: 75px;
    text-align: center;
    align-self: flex-start; 
    padding: 5px;
} 

@media all and (max-wisth: 900px) {
    main {
        flex-wrap: wrap;
        display: none;
    }



}

