*{
   box-sizing: border-box; 
}
html, body, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    margin: 15px; 


}
header{
    padding: 30px; 
    align-items:center;
    display: flex;
}
/* rzeczy do nagłówka */
header h1 {

    margin-left: 15px; 
    font-size: 32px; 
    font-weight: bold; 
}

header nav{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end; /*odnosniki poszly w prawo*/
    align-items: space-between;


    /* jak jest a to dla kazdego elementu w nav osobno */
    a {
        justify-content: space-between;
        align-self: flex-end; /* linki do gornej krawedzi */
        width: 75px;
        
    }
    a:nth-of-type(1)
    {
        padding-left:20px;
    }
    
}
article {
    border: 2px solid black;
    /*width: 100%; jak to dodaję to nie są obok siebie tylko pod sobą*/
    
    /**do tych 3 nagłówkow*/
    h2 {
        /*czemu to nie idzie do prawej*/
        align-self: flex-end; 
        height: 50px; 
        width: 50%; 
        font-size: 1.5em; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column;
        border: 2px solid black;
        background-color: lightgrey; 
        text-align: justify;
        padding: 15px;
    }
}
footer {
    height: 100px; 
    background-color: lightgray; 
    border-top: 2px solid black; 
    margin-top: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: center; /* poziom */
    flex-direction: column;

    flex-shrink: 0;

    p:nth-of-type(2) {
        font-weight: bold;
    }


    flex: 1; 
    padding: 20px;

}

/*sticky footer*/

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

 

@media all and (max-wisth: 900px) {
    main {
        flex-wrap: wrap;
        display: none;
    }



}









